[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reddit-place-bot = {editable = true,path = "."}

[dev-packages]
pytest = "*"
# pytest-mock = "*"
coverage = "*"
ipython = "*"
flake8 = "*"
isort = "*"
black = "*"
# black = "==19.3b0"
pytest-mock = "*"
pytest-django = "*"

[requires]
python_version = "3.8"
